.container{
    width: 80%;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

}
.card-container > .card{
    display: inline-block;
    height: 100px;
    width: 350px;
    border: 1px solid;
    margin: 10px;
    box-shadow: 0 0 10px black;
    padding: 20px;
}